.paymentItemContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.paymentItemAttributes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
